<div id="wrapper">
  <div id="top-section">
    <div id="overlay">
      <nav>
        <ul id="menu">
          <a id="home" href="/">
            <li>Home</li>
          </a>
          <a id="about" href="/">
            <li>About</li>
          </a>
          <a id="services" href="/">
            <li>Services</li>
          </a>
          <a id="blog" href="http://www.swinance.com">
            <li>Blog</li>
          </a>
          <a id="contact" href="/">
            <li>Contact</li>
          </a>
        </ul>
      </nav>

      <!--About text-->
      <div id="about-text">
        <h1 id="about-h1">About me</h1>
        <img src="/img/cv-2.jpg" alt="Abu Sayeed" />
        <h2 class="top-text" style="color: #9d8d8d">
          Abu Sayeed is a software engineer. Have 10 years of experiences in
          working with some medium size startups. Can develop enterprise level
          software with infinite scalability. He's originally from Gaibandha,
          Bangladesh. Hobbies included photography, hiking, cricket and playing
          with children.
        </h2>
        <h2 class="top-text" style="color: #9d8d8d">
          In 2010 he dropped out of college and started learning computer
          programming. Beside that in 2019 he completed a 38 minutes long short
          film that in on Prime Video called 'The Blushing Boys'.
        </h2>
        <a class="social" href="https://github.com/psayeed1990">Github</a>
        <a
          class="social"
          href="https://www.linkedin.com/in/abu-sayeed-9b848a50/"
          >LinkedIn</a
        >
        <a class="social" href="https://www.facebook.com/psayeed1990/"
          >Facebook</a
        >
        <a
          class="social"
          href="https://www.youtube.com/channel/UCztPquDL6p-daC02VpLbf9g"
          >Youtube</a
        >
        <a class="social" href="https://twitter.com/psayeed1990">Twitter</a>

        <a class="social" href="https://www.instagram.com/psayeed1990/"
          >Instagram</a
        >

        <a
          class="social"
          href="https://stackoverflow.com/users/10693479/abu-sayeed-mondal"
          >Stackoverflow</a
        >
      </div>

      <div id="services-text">
        <ul>
          <h1>Website</h1>
          <h1>Mobile App</h1>
          <h1>Bug Fix</h1>
          <h1>New Feature Add</h1>
          <h1>Full Stack</h1>
          <h1>Design</h1>
        </ul>
      </div>

      <!--
                        contact text
                    -->

      <div id="contact-text">
        <form>
          <input type="text" name="name" placeholder="Name" required />
          <input type="text" name="phone" placeholder="Phone" required />
          <input type="text" name="email" placeholder="Email" required />
          <textarea
            placeholder="Job Description"
            name="job"
            required
          ></textarea>
          <input type="submit" value="Get a Quick Quote" />
        </form>
      </div>

      <h1 id="big-title">Abu Sayeed is a software engineer</h1>

      <a href="https://github.com/psayeed1990"
        ><button id="top-btn">GITHUB</button></a
      >

      <div id="curve">
        <div id="curve-inner">&nbsp;</div>
      </div>
    </div>
  </div>

  <div id="content">
    <!--Technology section-->
    <div id="technology">
      <a href="/resume/Abu_Sayeed_abusayeed.me.docx">Download Resume</a>
      <h2>NodeJS, MongoDB, SQL, GraphQL, FaunaDB, React, Vue, Elm, AWS</h2>
    </div>

    <!--Portfolio section-->
    <div id="portfolio">
      <div class="portfolio">
        <h2>Droners.io</h2>
        <p>
          I helped with the database design and django API in year 2015. Pretty
          much a solid work that was acquired later for a few millions. My
          biggest work. Thanks to the founder Dave Brown. He says...
        </p>
        <a href="http://www.droners.io/developers"
          ><q
            ><em>
              If Sayeed wouldn't know how to handle that much of data, probably
              it would cost me more with a cloud service. Sometimes he helped me
              in short notice, even it was mid night in his contry. Truly
              blessed to have him.</em
            >
          </q></a
        >
        <p style="padding: 0; margin: 0">
          <a href="">Droners.io on my github</a>
        </p>
      </div>
      <div class="portfolio">
        <h2>Droners.io</h2>
        <p>
          I helped with the database design and django API in year 2015. Pretty
          much a solid work that was acquired later for a few millions. My
          biggest work. Thanks to the founder Dave Brown. He says...
        </p>
        <a href="http://www.droners.io/developers"
          ><q
            ><em>
              If Sayeed wouldn't know how to handle that much of data, probably
              it would cost me more with a cloud service. Sometimes he helped me
              in short notice, even it was mid night in his contry. Truly
              blessed to have him.</em
            >
          </q></a
        >
        <p style="padding: 0; margin: 0">
          <a href="">Droners.io on my github</a>
        </p>
      </div>
      <div class="portfolio">
        <h2>Droners.io</h2>
        <p>
          I helped with the database design and django API in year 2015. Pretty
          much a solid work that was acquired later for a few millions. My
          biggest work. Thanks to the founder Dave Brown. He says...
        </p>
        <a href="http://www.droners.io/developers"
          ><q
            ><em>
              If Sayeed wouldn't know how to handle that much of data, probably
              it would cost me more with a cloud service. Sometimes he helped me
              in short notice, even it was mid night in his contry. Truly
              blessed to have him.</em
            >
          </q></a
        >
        <p style="padding: 0; margin: 0">
          <a href="">Droners.io on my github</a>
        </p>
      </div>
    </div>
  </div>
  <div id="footer">With &COPY;abusayeed.me</div>
</div>
