<div id="wrapper">
  <div id="top-section">
    <div id="overlay">
      <nav>
        <ul id="menu">
          <a id="home" href="/">
            <li>Home</li>
          </a>
          <a id="about" href="/">
            <li>About</li>
          </a>
          <a id="services" href="/">
            <li>Services</li>
          </a>
          <a id="blog" href="#">
            <li>Blog</li>
          </a>
          <a id="contact" href="/">
            <li>Contact</li>
          </a>
        </ul>
      </nav>

      <!--About text-->
      <div id="about-text">
        <h1 id="about-h1">About me</h1>
        <img src="./img/cv-2.jpg" alt="Abu Sayeed" />
        <h2 class="top-text" style="color: #9d8d8d">
          Abu Sayeed is a software engineer. Have 11 years of experiences in
          working with some medium size startups. Can develop enterprise level
          software with infinite scalability. He's originally from Gaibandha,
          Bangladesh. Hobbies included photography, hiking, cricket and playing
          with children.
        </h2>
        <h2 class="top-text" style="color: #9d8d8d">
          Beside that in 2019 I made a 38 minutes long short
          film that is on Prime Video called 'The Blushing Boys'.
        </h2>
        <a class="social" href="https://github.com/psayeed1990">Github</a>
        <a
          class="social"
          href="https://www.linkedin.com/in/abu-sayeed-9b848a50/"
          >LinkedIn</a
        >
        <a class="social" href="https://www.facebook.com/psayeed1990/"
          >Facebook</a
        >
        <a
          class="social"
          href="https://www.youtube.com/channel/UCztPquDL6p-daC02VpLbf9g"
          >Youtube</a
        >
        <a class="social" href="https://twitter.com/psayeed1990">Twitter</a>

        <a class="social" href="https://www.instagram.com/psayeed1990/"
          >Instagram</a
        >

        <a
          class="social"
          href="https://stackoverflow.com/users/10693479/abu-sayeed-mondal"
          >Stackoverflow</a
        >
      </div>

      <div id="services-text">
        <ul>
          <h1>Full Stack Web</h1>
          <h1>Mobile App</h1>
          <h1>Testing</h1>
          <h1>Database Design</h1>
          <h1>Devops</h1>
          <h1>Design</h1>
        </ul>
      </div>

      <!--
                        contact text
                    -->

      <div id="contact-text">
        <form method="POST" action="/contact">
          <input
            id="name-field"
            type="text"
            name="name"
            placeholder="Name"
            required
          />
          <input
            id="phone-field"
            type="text"
            name="phone"
            placeholder="Phone (optional)"
            required
          />
          <input
            id="email-field"
            type="text"
            name="email"
            placeholder="Email"
            required
          />
          <textarea
            id="job-field"
            placeholder="Job Description"
            name="job"
            required
          ></textarea>
          <input id="submit" type="submit" value="Get a Quick Quote" />
        </form>
      </div>

      <h1 id="big-title">Abu Sayeed is a software engineer</h1>

      <a href="https://github.com/psayeed1990"
        ><button id="top-btn">GITHUB</button></a
      >

      <div id="curve">
        <div id="curve-inner">&nbsp;</div>
      </div>
    </div>
  </div>

  <div id="content">
    <!--Technology section-->
    <div id="technology">
      <a href="/resume/Md-Abu-Sayeed-Mondal-28th-Sep-2021.pdf">Download Resume</a>
      <h2>TypeScript, javaScript, NodeJS, MongoDB, SQL, React, AWS, Docker, Kubernetes, React Native, Rust, Golang</h2>
    </div>

    <!--Portfolio section-->
    <div id="portfolio">
      <div class="portfolio">
        <h2>Swinance.com</h2>
        <p>
          I helped with the database design and django API in year 2015. Pretty
          much a solid work that was acquired later for a few millions. My
          biggest work. Thanks to the founder Bijoy Dimdong. He says...
        </p>
        <a href="http://www.swinance.com/"
          ><q
            ><em>
              If Sayeed wouldn't know how to handle that much of data, probably
              it would cost me more with a cloud service. Truly
              blessed to have him.</em
            >
          </q></a
        >
        <p style="padding: 0; margin: 0">
          <a href="https://swinance.com">Swinance.com/ Melakoticket</a>
        </p>
      </div>
      <div class="portfolio">
        <h2>U2cam</h2>
        <p>
          I setup project, created the feature of post, react and users. Thanks to the founder Emmanuel. He says...
        </p>
        <a href="http://www.droners.io/developers"
          ><q
            ><em>
              Sayeed planned out and setup the project superb. It's on pipeline and we can manage the whole team easily.</em
            >
          </q></a
        >
        <p style="padding: 0; margin: 0">
          <a href="https://u2cam.com"> u2cam.com</a>
          or
          <a href="https://u2cam.abusayeed.me">u2cam.com on my server </a>
        </p>
      </div>
      <div class="portfolio">
        <h2>Django Junkie</h2>
        <p>
          I helped with the magento project of Calleen Cordero but got really inspired in software engineering to learn more by this project.
          The founder Dave Brown helped me become a well enough software engineer in year 2015. Thanks to the founder Dave Brown. He says...
        </p>
        <a href="http://www.droners.io/developers"
          ><q
            ><em>
              Sayeed is awesome and a good friend. He has integrity. Happy to work with him</em
            >
          </q></a
        >
        <p style="padding: 0; margin: 0">
          <a href="https://calleencordero.com">Calleencordero.com</a>
        </p>
      </div>
    </div>
  </div>
  <div id="footer">With &COPY;abusayeed.me</div>
</div>

<script src="./js/axios.min.js"></script>
<script>
  //ajax contact form
  const contacttext = document.getElementById('contact-text');
  const submit = document.getElementById('submit');
  submit.addEventListener('click', function (event) {
    event.preventDefault();

    let data = {
      name: document.getElementById('name-field').value,
      email: document.getElementById('email-field').value,
      phone: document.getElementById('phone-field').value,
      job: document.getElementById('job-field').value,
    };

    data = JSON.stringify(data);

    axios.defaults.headers.post['Content-Type'] = 'application/json';

    axios
      .post('/contact', data)
      .then((res) => {
        console.log(`statusCode: ${res.statusCode}`);
        console.log(res);
        contacttext.innerHTML =
          "<h1 style='color: #3faa55'>Thanks for messagin me. I will get back to you soon.</h1>";
      })
      .catch((error) => {
        console.log(error);

        contacttext.innerHTML = "<h1 style='color: #d08264'>" + error + '</h1>';
      });
  });
</script>
