<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Portfolios by Abu Sayeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- SEO Meta Description -->
    <meta
      name="description"
      content="Software engineer Abu Sayeed has something to say."
    />
    <meta name="author" content="Abu Sayeed" />
    <!-- <link rel="icon" href="/img/favicon.png" /> -->

    <!-- ***** All CSS Files ***** -->

    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Josefin+Sans:wght@200;300&family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.min.css" />
    <!-- Style css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body id="body">
    <%- body %>

    <script src="/js/script.js"></script>
  </body>
</html>
